.our {
    .container {
        text-align: center;
    }

    &__heading {
        font-family: 'Mulish';
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        margin-bottom: 50px;
    }

    &__pics {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 100px;
        margin-bottom: 120px;
    }
}